matplotlib
nbformat
tensorflow
keras
numpy
pandas
pandas_datareader
datetime
streamlit
datetime
yfinance
plotly
streamlit_folium
streamlit_player
av
numpy
pydub
twilio
opencv-python
PIL
io
streamlit_webrtc
object_detection
openai
base64
sqlite3
streamlit_card
SpeechRecognition
gtts
google_trans_new
deep_translator
webbrowser
streamlit_chat
hashlib