matplotlib
nbformat
tensorflow
keras
numpy
pandas
pandas_datareader
streamlit
yfinance
plotly
streamlit_folium
streamlit_player
av
numpy
pydub
twilio
opencv-python
pillow
streamlit_webrtc
object_detection
openai
streamlit_card
SpeechRecognition
gtts
google_trans_new
deep_translator
streamlit_chat